<!DOCTYPE html>
<html>
<head>
    <title>Mini Calendar</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="js/libs/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/libs/handlebars-1.1.2.js"></script>
    <script type="text/javascript" src="js/libs/ember-1.5.1.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
    <script type="text/javascript" src="js/controllers/calendar_controller.js"></script>  
</head>
<body>
    <script type="text/x-handlebars" data-template-name="calendar">
  <div class="content-1">
      <div class="calendar-container"> 
      <div class="current-date"> 
        {{nameMonth month_value}}
        {{year_value}}
      </div> 
      <div class="buttons-container"> 
          <button id="prevYear" {{action "prevYear"}}>prevY</button>
          <button id="prevMonth" {{action "prevMonth"}}>prevM</button>
          <button id="today" {{action "goToDay"}}>ToDay</button>
          <button id="nextMonth" {{action "nextMonth"}}>nextM</button>
          <button id="nextYear" {{action "nextYear"}}>nextY</button>
        </div>
      	<table>
      	<thead>
      	<tr>
      		<th>Mon
      		</th>
      		<th>Thu
      		</th>
      		<th>Wed
      		</th>
      		<th>Thu
      		</th>
      		<th>Fri
      		</th>
      		<th>Sat
      		</th>
      		<th>Sun
      		</th>
      	</tr>
      	</thead>
      	<tbody>
      		{{#each week in weeks}}
            <tr>
              	{{#each day in week}}
                	<td>
                    <a {{bind-attr class="day.isToday:today day.isSelected:selected"}} {{action "goToAnotherDay" day}} href="">{{day.title}}</a>
                  </td>
              	{{/each}}
            </tr>
          {{/each}}
      	</tbody>
      	</table>
        </div>
      </div>
    </script>
</body>
</html>
