.content-1{
	width: 550px;
	margin: auto;
	text-align: center;
}

.calendar-container{
	font-size: 28px;
	text-align: center;
}

.calendar-container table th, .calendar-container table td{
	padding: 12px;
	text-align: center;
}

.buttons-container{
	margin-top: 30px;
	text-align: center;
}

.current-date a{
	font-size: 32px;
}
}
table {
	color:silver;	
}
table th {
	padding:21px 30px 22px 30px;
	background: silver;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
}
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td {
	padding:18px;
	border-top: 1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

.calendar-container table .today {
	color: red;
}

.buttons-container button{
	width: 50px;
	height: 50px;
	font-size: 12px;
	margin-left: 23px;
	margin-right: 23px;
}

.calendar-container table .selected {
	color: orange;
}